<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<h2>Likes</h2>
<%= @post.likes.any? ? pluralize(@post.likes.size, "like") : "No likes yet!!" %>
<h2>Do u want to like this post?</h2>
<%= form_for([@post, @post.likes.build]) do |f| %>
  <div class="actions">
    <%= f.submit "Like" %>
  </div>
<% end %>
<h2>Comments</h2>
<%= @post.comments.any? ? pluralize(@post.comments.size, "comment") : "No comments yet!!" %>
<%= render @post.comments %>
 
<h2>Do u want to comment?</h2>
<%= render "comments/form" %>
 
<br />
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
